<div class="showContainer text-center" ng-controller="14erShowController">
  <h3>{{singleFourteener.name}}</h3>
  <br>
  <img class="showImg img-responsive" src="{{singleFourteener.image}}"></td>
  <br>
  <p>Class: {{singleFourteener.class}} |
     Elevation: {{singleFourteener.elevation}} |
     Range: {{singleFourteener.range}} |
     Location: {{singleFourteener.location}}
  </p>
  <br>
  <p class="description text-justify">{{singleFourteener.description}}</p>
  <p><a href="/14ers/{{fourteener.id}}/trails">Trails</a></p>
</div>
