<div ng-controller="14erIndexController">
  <table class="search table-responsive">
    <thead>
      <th class="searchInput">
        <input class="form-control" ng-model="search" type="text" placeholder="Search by name">
      </th>
      <th>
        <select class="form-control" ng-model="sortBy" ng-init="sortBy='-elevation'">
        <option value="class">Difficulty</option>
        <option value="-elevation">Elevation</option>
        <option value="name">Name</option>
        <option value="range">Range</option>
        </select>
      </th>
    </thead>
  </table>
  <h2 class="text-center">All 14ers</h2>
  <table class="table-bordered table-responsive table-hover">
    <thead>
      <th>Class</th>
      <th>Name</th>
      <th>Elevation</th>
      <th>Range</th>
    </thead>
    <tr ng-repeat="fourteener in fourteener_collection | filter: search | orderBy: sortBy">
      <td>{{fourteener.class}}</td>
      <td><a href="/14ers/{{fourteener.id}}">{{fourteener.name}}</a></td>
      <td>{{fourteener.elevation}}</td>
      <td>{{fourteener.range}}</td>
    </tr>
  </table>
  <br>
  <br>
</div>
