<div class="showContainer text-center">
  <h3>{{singleFourteener.name}}</h3>
  <br>
  <img class="showImg img-responsive" src="{{singleFourteener.image}}"></td>
  <br>
  <strong>
  <p>Class: {{singleFourteener.class}} |
     Elevation: {{singleFourteener.elevation}} |
     Range: {{singleFourteener.range}} |
     Location: {{singleFourteener.location}}
     {{singleFourteener.id}}
  </p>
  </strong>
  <p class="description text-justify">{{singleFourteener.description}}</p>
  <br>
  <a href="/14ers/{{singleFourteener.id}}/trails"><button class="btn show">Trails</button></a>
  <br>
  <br>
  <br>
</div>
