<div class="splashMain">
  <img class="splashImg img-responsive" src="../public/images/home.png">
  <h4 class="text-justify"><strong>hey whatsup hello.</strong> 14ers (aka fourteeners or mountain peaks exceeding 14,000 feet) are a Colorado rite of passage.
    Luckily, there are more 14ers in Colorado than anywhere else in the country. Outdoor enthusiasts of all skill levels will find peaks
    ranging from easy to very difficult, with hiking trails for exploring the state's scenery, wildlife
    and rugged beauty.</h4>
  <br>
  <div class="button text-center">
    <a href="/14ers"><button class="btn">Check it out</button></a>
  </div>
</div>
